<div class="d-flex justify-content-center ">
  <div class="mission-left " style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/politbaro/image/upload/v1637239356/icons/unsplash_ukTd6UiQbLQ_u8x7gy.png);">
    <div>
      <h1 id="mission">Make your vote COUNT and your voice HEARD</h1>
      <p>Vote  for your favorite  politicians and find new voices that will stand for your positions. Discover where your fellow citizens stand regarding  elected representatives. </p>

    </div>
  </div>
  <div class="mission-right">
    <div>
      <%= render "partials/home_card" , props: {top: 20, right:50 , url_img: "https://res.cloudinary.com/politbaro/image/upload/v1637235822/icons/fluent_cloud-arrow-up-28-regular_iqxn7k.png", title: "Let your data take your positions to higher grounds", content: "Track down graphs and other charts to analyze the political climate before any election campaign." }%>
      <%= render "partials/home_card" , props: {top: 350 , right:50 , url_img: "https://res.cloudinary.com/politbaro/image/upload/v1637235822/icons/fluent_vote-24-regular_sljyxo.png", title: "Become the center of all public policies", content: "Draw up the political road map of elected officials by taking position on polls over current hot topics." }%>
      <%= render "partials/home_card" , props: {top: -80, right:300 , url_img: "https://res.cloudinary.com/politbaro/image/upload/v1637235822/icons/fluent_news-28-regular_ww8f4m.png", title: "Rate decision makers and political figures", content: "Assign a rating to each politician based on their performance during their time at office. " }%>
      <%= render "partials/home_card" , props: {top: 250, right:300 , url_img: "https://res.cloudinary.com/politbaro/image/upload/v1637235822/icons/fluent_accessibility-48-regular_o6dzyj.png", title: "Interact with other citizens over news", content: "Browse politicians’ news and leave comments on articles discussing their actions and stances." }%>
    </div>
  </div>
</div>

 <h2></h2>
  <p>  </p>
