<footer class="footer-dark">
  <hr>

    <%= link_to "/", class: "footer-brand" do %>
      <%= image_tag "https://i.gyazo.com/f8c63096589bd63a9d4796763e286331.png" %>
    <% end %>
    <div class="col item social">
      <a href="#"><i class="fab fa-facebook-square"></i></a>
      <a href="#"><i class="fab fa-twitter-square"></i></a>
      <a href="#"><i class="fab fa-snapchat-square"></i></a>
      <a href="#"><i class="fab fa-instagram-square"></i></a>
    </div>

  <p class="copyright">© 2021 Politbaro. All Rights Reserved.</p>
</footer>
