<div class="container-cover">
<div class = "container-image">
   <div class="row justify-content-center">
   <img src="<%= @politician.img_url %>"/>
   </div>
</div>

<div class = "container-news">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
    <h1><strong>News: <strong><%= @politician.name %></h1>
    <ul>
    <% @news.each do |news| %>
        <li><%= news.title %></li>
    <% end %>
    </ul>
    </div>
  </div>  
</div>
</div>