<div class=".container-cover">
  <div class="row justify-content-center">
      <div class = "container-image">
        <img src="<%= @politician.img_url %>"/>
      </div>
  </div>
  <div class = "container-news">
      <div class="row justify-content-center">
          <div class="col-12 col-lg-6">
            <h1>News : <%= @politician.name %></h1>
            <ul>
              <% @news.each do |news| %>
                  <li><%= news.title %></li>
                  <h2><%= link_to 'See more..', news.news_url %></h2>
              <% end %>
            </ul>
          </div>
      </div>  
  </div>
</div>