.container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding: 20px;
    .btn-primary {
        color: white;
        border: 5px solid black;
        padding: 8px 24px;
        border-radius: 50px;
        margin: 10px 10px 10px -15px;
        background: #FD6262;
        transition: opacity 0.3s ease;
        
    }
}
.input-comment {
    border-radius: 6px;
}

.container-comment {
    color: black;
   
}
.list-group-item {
    border-radius: 10px;

}
.list-group {
    border-radius: 10px;

}
