.container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding: 20px;
    .btn-primary {
        background-color: chocolate;
    }
}
.container-comment {
    color: black;
   
}
.list-group-item {
    border-radius: 10px;

}
.list-group {
    border-radius: 10px;

}
