.navbar-lewagon {
  justify-content: space-between;
  background:#141416;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}

.btn-flat {
  color: white;
  padding: 8px 15px;
  border-radius: 4px;
  background: #FD6262;
  transition: background 0.3s ease;
  margin: 10px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.btn-flat:hover {
  background: rgb(255, 170, 170);
  color: white;
}
