.container-cover {
    padding: 40px;
    background-color: black;
}

.container-news {
    background-color: black;
    h1 {
        color: white;
        padding: 20px;
        text-align: center;
        font-family: Georgia, serif;
        text-decoration: underline overline #FF3028;
    }
    ul {
        color: white;
        background-color: #141416;
        padding: 60px;
        
    }
    h2 {
        color: rgb(255, 129, 83);
        font-size: 15px;
        
       

    }

} 