.modal-content {
  border: 1px;
  solid: #FD6262;
  justify-content: center;

}

.modal-header {
  border-bottom: #FD6262;
}

.fw-bold {
  color: #FD6262;
  font-family: 'Red Hat Display';
}

.modal-footer {
  border-top: #FD6262;
  justify-content: center;
}

#closePopup{
  text-decoration: none;
  color: #aaaaaa;
  &:hover{
    cursor: pointer;
  };
}
