
<div class="d-flex justify-content-around flex-wrap main-container">
  <% @politicians.each do |politician| %>
    <%= link_to politician_path(politician), class:"politician_card" do %>
      <div class="d-flex flex-column justify-content-center align-items-center autour ">
        <div class="politician-name-index">
          <h4><%= politician.name %> </h4>
        </div>
        <div class="politician-img"> 
          <%= cl_image_tag politician.photo.key, height: 150, width: 200, crop: :fill %>
        </div>
        <div class="popularity-index">
          <% politician.moyenne.times do %>
            <span class="fa fa-star filled" ></span>
          <% end %>
          <% (5 -politician.moyenne).times do %>
            <span class="fa fa-star" ></span>
          <% end %>
        </div>
      </div>
    <% end %>

  <% end %>
</div>