
<ul>
  <% @politicians.each do |politician| %>
    <li><%= link_to politician.name, politician_path(politician) %></li>
    <li><%= link_to politician.bio, politician_path(politician) %></li>
  <% end %>
</ul>

<% @politicians.each do |politician| %>
<p> number of stars : <%= politician.moyenne%> </p>
<%end%>

<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">

  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
   ....
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
    ....
  </div>
</div>
